.comments-wrapper {
    position: absolute;
    right: 0px;
    border-radius: 25px 0px 0px 25px;
    z-index: 23;
    width: 30%;
    backdrop-filter: blur(2px);
    background-color: rgba(30, 30, 30, 0.8);
    scrollbar-width: none;
    touch-action: none;
    padding: 20px;
    box-sizing: border-box;
    
}

.comments-content {
    height:100%;
    scrollbar-width: none;
    touch-action: none;
    overflow-y: scroll;
}