.comments-popup {
    position: absolute;
    right: 0px;
    height: 100%;
    z-index: 23;
    width: 30%;
    overflow-y: scroll;
    scrollbar-width: none;
    touch-action: none;
}

.video-with-comments {
    width: 70% !important;
    object-fit: contain !important;
    left: 0px !important;
}

.comments-content {
    padding-left: 15px;
}